{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Ground Control{% endblock %}


</h1>
{% endblock %}

{% block content %}
<form method="POST">
    <div id="clock"></div>
    <script>
        function updateClock() {
            var now = new Date();
            let options = {

                year: "numeric",
                month: "numeric",
                day: "numeric",
                hour: "numeric",
                minute: "numeric",
                second: "numeric",
                timeZone: "Etc/UTC",
                hour12: false,
            };
            let options2 = {

                year: "numeric",
                month: "numeric",
                day: "numeric",
                hour: "numeric",
                minute: "numeric",
                second: "numeric",
                timeZone: "America/New_York",
                hour12: false,
            };

            var gmtDateTime = now.toLocaleString('en-US', options);
            var estDateTime = now.toLocaleString('en-US', options2);
            document.getElementById('clock').innerHTML = "GMT: " + gmtDateTime + "<br> EST: " + estDateTime;

        }
        updateClock();
    </script>

    <h2>Enter Command</h2>
    <input type="text" name="command" id="command" placeholder="Type Command Here...">
    <input type="submit" value="Transmit">
    <div class="main-flex-container">
        <div class="left-panel">
            <h2>Quick Actions</h2>

            <table>
                <tbody>
                    <tr>
                        <td><button type="submit" name="clicked_button" value="NOP">No operation</button></td>
                        <td><button type="submit" name="clicked_button" value="STP">Send test packet</button></td>
                    </tr>
                    <tr>
                        <td><button type="submit" name="clicked_button" value="SRC">Set clock to GMT</button></td>
                        <td><button type="submit" name="clicked_button" value="GRC">Get clock time</button></td>
                    </tr>
                    <tr>
                        <td><button type="submit" name="clicked_button" value="PYC">Payload communications</button></td>
                        <td><button type="submit" name="clicked_button" value="SPT1">Take photo in one minute</button></td>

                    </tr>
                    <tr>
                        <td><button type="submit" name="clicked_button" value="SBI1">Beacon interval one minute</button></td>
                        <td><button type="submit" name="clicked_button" value="SBI3">Beacon interval three minutes</button></td>
                    </tr>
                    <tr>
                        <td><button type="submit" name="clicked_button" value="GTY">Get telemetry</button></td>
                        <td><button type="submit" name="clicked_button" value="GPW">Get power</button></td>
                    </tr>
                    <tr>
                        <td><button type="submit" name="clicked_button" value="CallSign">Transmit call sign</button>
                        </td>
                        <td><button type="submit" name="clicked_button" value="SDT1">Start SSDV in one minute</button>
                        </td>
                    </tr>
                    <tr></tr>
                    <td><button type="submit" name="clicked_button" value="Refresh">Refresh data</button></td>
                    <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="right-panel">
            <h2>Command Sequence Number</h2>
            <div class="command-count-container">
                <input type="number" name="command_sequence" id="command_sequence" value="{{ command_sequence }}">
                <input type="submit" value="Set Sequence Number">
            </div>
            <h2>Command Responses</h2>
            <div class="responses" id="responses">
                {% for response in responses %}
                <p>{{ response['timestamp'] + " - " + response['response'][2:-1].decode('utf-8', errors='replace') }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
<style>
    .responses p {
        margin: 0;
        padding: 2px 0;
        /* Adjust the padding as needed */
    }

    .command-count-container {
        display: flex;
        align-items: center;
    }

    .command-count-container input[type="number"] {
        margin-right: 10px;
        /* Adjust the margin as needed */

    }

    .main-flex-container {
        display: flex;
        gap: 40px;
        align-items: flex-start;

    }

    .left-panel {
        flex: 2;
        
    }

    .right-panel {
        flex: 2;
        
    }
</style>

<script>
    function fetchLatestResponses() {
        fetch('/latest_responses')
            .then(response => response.json())
            .then(data => {
                const responsesDiv = document.getElementById('responses');
                responsesDiv.innerHTML = '';
                const filteredData = data.filter(item => {
                    const trimResponse = item.response.slice(2, -1);
                    return !trimResponse.startsWith("ACK D") && !trimResponse.startsWith("RES D");
                });
                filteredData.forEach(item => {
                    const p = document.createElement('p');
                    p.textContent = item.timestamp + " - " + item.response.slice(2, -1);
                    responsesDiv.appendChild(p);
                });
            });
        updateClock();
    }

    setInterval(fetchLatestResponses, 1000); // Fetch latest responses every second
</script>
{% endblock %}